@import url("./variables.css");
@import url("./navigation.css");
@import url("./hero.css");
@import url("./buttons.css");
@import url("./animations/button-animation.css");
@import url("./animations/text-animation.css");
@import url("./featured.css");
@import url("./newproducts.css");
@import url("./shoppingcart.css");
@import url("./cartmodal.css");
@import url("./footer.css");

html {
  font-family: var(--font-base);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

h1 {
  font-family: var(--font-extra);
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-to-content:focus-visible {
  position: absolute;
  top: 0;
  left: 0;
  width: 11rem;
  height: 3rem;
  padding: var(--spacing-sm);
  background-color: var(--color-blue);
  color: var(--text-inverted);
  z-index: 1001;
}

.no-scroll {
  overflow: hidden !important;
  height: 100%;
}

.error-message {
  color: var(--color-error);
}

.bold {
  font-weight: bold;
}