@keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--btn-primary-bg);
    }
  
    100% {
      fill: white;
    }
  }
  
  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--btn-primary-bg);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--btn-primary-bg);
      outline-offset: 0;
    }
  }